<div class="app">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>My Books</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="form-group flex-grow-1 search-wrapper">
                <select
                  name="category"
                  id=""
                  class="form-control"
                  [(ngModel)]="categoryFilter"
                  (change)="onFilterChange()"
                >
                  <option *ngFor="let op of categoryOptions" [value]="op">
                    {{ op }}
                  </option>
                </select>
              </div>

              <button class="btn btn-primary" [routerLink]="['create']">
                Create
              </button>
            </div>

            <app-books-list
              [books$]="books$"
              (bookId)="onBookSelect($event)"
            ></app-books-list>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <router-outlet />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
